ClientSOAP/src/wsdl/localhost_8080/MathsWebService/CalculsSimples.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mathswebservice.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mathswebservice.mycompany.com/" name="CalculsSimples">
<types>
<xsd:schema>
<xsd:import namespace="http://mathswebservice.mycompany.com/" schemaLocation="http://localhost:8080/MathsWebService/CalculsSimples?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="premier">
<part name="parameters" element="tns:premier"/>
</message>
<message name="premierResponse">
<part name="parameters" element="tns:premierResponse"/>
</message>
<message name="additionner">
<part name="parameters" element="tns:additionner"/>
</message>
<message name="additionnerResponse">
<part name="parameters" element="tns:additionnerResponse"/>
</message>
<message name="decomposer">
<part name="parameters" element="tns:decomposer"/>
</message>
<message name="decomposerResponse">
<part name="parameters" element="tns:decomposerResponse"/>
</message>
<portType name="CalculsSimples">
<operation name="hello">
<input wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/helloRequest" message="tns:hello"/>
<output wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="premier">
<input wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/premierRequest" message="tns:premier"/>
<output wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/premierResponse" message="tns:premierResponse"/>
</operation>
<operation name="additionner">
<input wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/additionnerRequest" message="tns:additionner"/>
<output wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/additionnerResponse" message="tns:additionnerResponse"/>
</operation>
<operation name="decomposer">
<input wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/decomposerRequest" message="tns:decomposer"/>
<output wsam:Action="http://mathswebservice.mycompany.com/CalculsSimples/decomposerResponse" message="tns:decomposerResponse"/>
</operation>
</portType>
<binding name="CalculsSimplesPortBinding" type="tns:CalculsSimples">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="additionner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="decomposer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculsSimples">
<port name="CalculsSimplesPort" binding="tns:CalculsSimplesPortBinding">
<soap:address location="http://localhost:8080/MathsWebService/CalculsSimples"/>
</port>
</service>
</definitions>