ClientSOAP/src/wsdl/localhost_8080/MathsWebService/CalculsSimples.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://mathswebservice.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mathswebservice.mycompany.com/">

<xs:element name="additionner" type="tns:additionner"/>

<xs:element name="additionnerResponse" type="tns:additionnerResponse"/>

<xs:element name="decomposer" type="tns:decomposer"/>

<xs:element name="decomposerResponse" type="tns:decomposerResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="premier" type="tns:premier"/>

<xs:element name="premierResponse" type="tns:premierResponse"/>

<xs:complexType name="premier">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premierResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decomposer">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decomposerResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="additionner">
<xs:sequence>
<xs:element name="nombreA" type="xs:double"/>
<xs:element name="nombreB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="additionnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>